<p>
    <a href="about"></a>
</p>

<h1>ユーザ登録</h1>
<form action="sign_in" method="POST">
    <div>
        名前:<input type="text" name="name" value="">
    </div>
    <div>
        性別:
        <input type="radio" name="gender" value="male" checked="checked">男性
        <input type="radio" name="gender" value="fimale">女性
    </div>
    <div>
        age_group:
        <input type="radio" name="age_group" value="1" checked="checked">0から20歳
        <input type="radio" name="age_group" value="2" >21から40
        <input type="radio" name="age_group" value="3">41から60
        <input type="radio" name="age_group" value="4">41から60
    </div>
    <div>
        <input type="submit" value="登録">
    </div>
</form>
