<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="<%=Public_path%>js/audio.js"></script>
    <link type="text/css" href="<%=Public_path%>css/common.css">
    <title>DRT app</title>
  </head>
  <body>
      <h1></h1>
    <%= yield %>
  </body>
</html>
